﻿@{
    ViewBag.Title = "Sigma";
}

<div class="row">
    <div class="col-md-12 text-center">
        <img src=" https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-logo.png" />
    </div>
    
</div><br />
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Prueba de desarrollo Sigma</h2>
    </div>

</div><br />

      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 text-center">
              <p>Lorem Ipsum is dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="col-md-3"></div>
      </div><br />
<div class="row">
    <div class="col-md-6 ">
        <div class="panel-landingimg">
            <div class="panel-body">
                <img src=" https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-image.png"
                     class="img-responsive" />
            </div>
            
        </div>
    </div>
        <div class="col-md-6 text-left">
            <div class="panel-landing">
                <div class="panel-body">
                    <label>Departamento*</label>
                    <select id="departamento" class="form-control" onchange="setCiudad()">
                    </select>
                    <label>Ciudad*</label>
                    <select id="ciudad" class="form-control"></select>
                    <label>Nombre*</label>
                    <input id="nombre" type="text" class="form-control" onblur="validaNombre()" placeholder="Pepito de Jesús" required />
                    <label>Correo*</label>
                    <input id="correo" type="email" class="form-control" onblur="validarEmail()" placeholder="pepitodejesus@gmail" required />
                    <div class="text-center">
                        <button class="btn button-landing" onclick="save()">Enviar</button>
                    </div>
                </div>


            </div>

        </div>






        <div id="miModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Contenido del modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Sigma</h2>
                    </div>
                    <div class="modal-body">
                        <h3 id="mensaje"></h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
