﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


img {
    max-width: 100%;
}

p {
    text-align: center;
    color: #707070;
}

.panel-landing {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ddd;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 20px;
    width: 60%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 12px 5px rgba(12, 100, 200, 0.05);
}

.panel-landingimg {
    margin: 20px 255px 70px 26px;
    padding: 50px 10px 50px 10px;
    background-color: #fff;
   
    width: 90%;
    
}

.button-landing {
    color: #fff;
    background-color: #e03b65;
    border-color: #d43f3a;
    margin: 20px;
    border-radius: 20px;
    width: 110px;
    height: 40px;
}

label{
    margin:10px;
}
input{
    width:100%;
    margin:10px;
}
select{
    margin:10px;
}